.night {
    position: absolute;
    margin: 10px 4px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 26px rgba(255, 219, 205), inset 0 0 80px white;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1250px) {

}