.night {
    position: absolute;
    margin-top: -175%;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 26px rgba(255, 219, 205), inset 0 0 80px white;
}