:root {
    --border: 1px solid black;
    --background: rgba(255, 219, 205);
    --padding: 10px 1.5em;
    --border-radius: 5px;
    --box-shadow: 0px 0px 6px -1px black;
    --start-col-one: 1;
    --start-col-two: 2;
    --start-col-three: 3;
    --start-col-four: 4;
}

.button-one {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: var(--start-col-three);
    grid-column-end: var(--start-col-four);
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.button-two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: var(--start-col-three);
    grid-column-end: var(--start-col-four);
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}

.button-three {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: var(--start-col-three);
    grid-column-end: var(--start-col-four);
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.button-four {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: var(--start-col-two);
    grid-column-end: var(--start-col-three);
    margin-top: 11em;
    margin-bottom: 7px;
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.button-five {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: var(--start-col-three);
    grid-column-end: var(--start-col-four);
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.button-six {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: var(--start-col-two);
    grid-column-end: var(--start-col-three);
    margin-top: 11em;
    margin-bottom: 7px;
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.button-seven {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: var(--start-col-two);
    grid-column-end: var(--start-col-three);
    margin-top: 10em;
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}
.button-eight {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: var(--start-col-three);
    grid-column-end: var(--start-col-four);
    border: var(--border);
    background: var(--background);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}

@media only screen and (max-width: 560px) {
    .button-four {
        margin-top: 16em;
        padding: 10px 0.5em;
    }

    .button-three {
        display: inline-block;
        margin-top: 5em;
    }
    .button-five {
        display: inline-block;
        margin-top: 13em;
    }
    .button-six {
        margin-top: 14em;
        padding: 10px 0.5em;

    }
    .button-seven {
        padding: 0.5em 0em;
        margin-top: 13em;
    }
}

@media only screen and (min-width: 560px) {
    .button-four {
        grid-row-start: 5;
    }
    .button-six {
        grid-row-start: 7;
        margin-top: 18em;
    }
    .button-seven {
        grid-row-start: 8;
    }
}