#project-one{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 200px;
}

#project-grid-main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

#project-title {
    grid-column-start: 2;
}

#project-details {
    grid-column-start: 1;
    grid-column-end: 2;
}

.project-picture {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 10px;
    width: 93%;
    height: 78%;
}