:root {
    --start-col-two: 2;
    --end-col-four: 4;
    --color: rgba(255, 219, 205);

}



#project-two-title {
    color: var(--color);
}

#project-details-two {
    color: var(--color);
}

@media only screen and (min-width: 768px) {
    #project-details-two {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1250px) {
    #project-details-two {
        font-size: 1.7em;
    }

    .project-two-picture {
        margin-top: 0em;
        width: 100%;
        box-shadow: 3px 3px 9px 1px;
        padding-left: 0px;
        height: 80%;
    }
}