:root {
    --start-col-one: 1;
    --start-col-two: 2;
    --start-row-one: 1;
    --color: rgba(255, 219, 205);
    --end-col-4: 4;
}

#project-one{
    grid-row-start: var(--start-row-one);
    grid-row-end: 4;
    grid-column-start: var(--start-col-one);
    grid-column-end: var(--end-col-4);
    max-height: 200px;
}

#project-grid-main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

#project-title {
    font-size: 1.5em;
    grid-column-start: var(--start-col-two);
    grid-column-end: span 3;
    color: var(--color);
}

#project-details {
    grid-column-start: var(--start-col-one);
    grid-column-end: 2;
    grid-row-start: var(--start-row-one);
    grid-row-end: span 2;
    margin: auto;
    color: var(--color);
}

.project-picture {
    grid-column-start: var(--start-col-two);
    grid-column-end: var(--end-col-4);
    margin-left: 10px;
    box-shadow: 3px 3px 9px 1px;
    width: 96%;
    height: 100%;
}

@media only screen and (min-width: 1250px) {
    #project-details {
        font-size: 1.7em;
    }
}