#project-one{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 200px;
}

#project-grid-main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

/* #project-grid-main:hover {
    transition: fade;
    transition-delay: 100ms;
    background: green;
} */

#project-title {
    grid-column-start: 2;
    grid-column-end: span 3;
    color: rgba(255, 219, 205);
}

#project-details {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    margin: auto;
    color: rgba(255, 219, 205);

    /* background-color: white; */
    /* transition-delay: 3s;
    transition: background-color 2s ease-in; */
}

.project-picture {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 10px;
    box-shadow: 3px 3px 9px 1px;
    width: 96%;
    height: 100%;
}

@media only screen and (min-width: 768px) {



  }

@media only screen and (min-width: 1250px) {
    #project-details {
        font-size: 1.7em;
    }

}

