:root {
    --start-col-one: 1;
    --start-col-two: 2;
    --start-row-one: 1;
    --color: rgba(255, 219, 205);
    --end-col-4: 4;
}


#project-title {
    font-size: 1.5em;
    color: var(--color);
}

#project-details {
    margin: auto;
    color: var(--color);
}

@media only screen and (min-width: 1250px) {
    #project-details {
        font-size: 1.7em;
    }
}